[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "KODAMA"]
	path = KODAMA
	url = https://github.com/tkcaccia/kodama
[submodule "MetChem"]
	path = MetChem
	url = https://github.com/cran/MetChem
[submodule "musicNMR"]
	path = musicNMR
	url = https://github.com/cran/musicNMR
