[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "clinical"]
	path = clinical
	url = https://github.com/tkcaccia/clinical
[submodule "musicNMR"]
	path = musicNMR
	url = https://github.com/cran/musicNMR
